<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.productChannel.mapper.ProductChannelMapper">

    <insert id="batchSave">
      INSERT INTO pay_product_channel(product_code,channel_code,channel_name,status,create_time) values
        <foreach collection="channels" item="channel" separator=",">
            (#{productCode},#{channel.channelCode},#{channel.channelName},1,now())
        </foreach>
    </insert>

    <select id="getProductCodeByChannelCodes" resultType="java.lang.String">
        SELECT distinct product_code from pay_product_channel WHERE channel_code in
        <foreach collection="channels" item="channel" open="(" close=")" separator=",">
            #{channel}
        </foreach>
    </select>

</mapper>