<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pay.mapper.OrderInfoEntityMapper">
    <select id="queryOrderByOrderId" parameterType="String" resultType="org.jeecg.modules.pay.entity.OrderInfoEntity">
        select
          *
        from
          pay_order_info
        where
          order_id = #{orderId}
    </select>
    <select id="getUserTodaySummary" resultType="Map" parameterType="Map">
        SELECT order_id
        FROM pay_order_info
        WHERE outer_order_id = #{outerOrderId}
    </select>

    <select id="summary" parameterType="map" resultType="map">
        select count(1)                                                                 as totalOrderCount,
               count(case when status = 2 || status = 1 then 1 else null end)           as paidOrderCount,
               count(case when status != 2 and status != 1 then 1 else null end)        as unpaidOrderCount,
               sum(submit_amount)                                                       as totalOrderAmount,
               sum(case when status = 2 || status = 1 then submit_amount else 0 end)    as paidOrderAmount,
               sum(case when status != 2 and status != 1 then submit_amount else 0 end) as unpaidOrderAmount,
               sum(case when status = 2 || status = 1 then poundage else 0 end)         as fee,
               sum(case when status = 2 || status = 1 then actual_amount else 0 end)    as income
        from pay_order_info ${ew.customSqlSegment}

    </select>

    <!--    <select id="summaryUserTodayOrderAmount" parameterType="map" resultType="map">-->
    <!--        select user_id,-->
    <!--               user_name,-->
    <!--               user_realname,-->
    <!--               count(1)           as paidCount,-->
    <!--               sum(submit_amount) as paidAmount,-->
    <!--               sum(poundage)      as payFee-->
    <!--        from pay_order_info-->
    <!--        where status = '3'-->
    <!--          and user_id = #{map.userId}-->
    <!--          and to_days(success_time) = to_days(#{map.date})-->
    <!--    </select>-->

    <update id="updateOrderStatusSuccessByOrderId" parameterType="String">
        UPDATE pay_order_info
        SET `status` = 2,update_time=NOW(),success_time=NOW()
        WHERE
            order_id = #{orderId}
    </update>
    <update id="updateOrderStatusNoBackByOrderId" parameterType="String">
        UPDATE pay_order_info
        SET `status` = 1,update_time=NOW(),success_time=NOW()
        WHERE
            order_id = #{orderId}
    </update>
    <update id="updateOrderStatusBatch">
        update pay_order_info set status=-1,update_time=NOW() where order_id in
        <foreach item="orderid" collection="orderIds" open="(" separator="," close=")">
            #{orderid}
        </foreach>
    </update>
</mapper>