<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pay.mapper.OrderInfoEntityMapper">
    <select id="queryOrderByOuterOrderId" resultType="String" parameterType="String">
        SELECT
            order_id
        FROM
            pay_order_info
        WHERE
            outer_order_id = #{outerOrderId}
    </select>
    <select id="queryOrderByOrderId"  parameterType="String" resultType="org.jeecg.modules.pay.entity.OrderInfoEntity">
        select
          *
        from
          pay_order_info
        where
          order_id = #{orderId}
    </select>
    <update id="updateOrderStatusSuccessByOrderId" parameterType="String">
        UPDATE pay_order_info
        SET `status` = 2,update_time=NOW(),success_time=NOW()
        WHERE
            order_id = #{orderId}
    </update>
    <update id="updateOrderStatusNoBackByOrderId" parameterType="String">
        UPDATE pay_order_info
        SET `status` = 1,update_time=NOW(),success_time=NOW()
        WHERE
            order_id = #{orderId}
    </update>
    <update id="updateOrderStatusBatch">
        update pay_order_info set status=-1,update_time=NOW() where order_id in
        <foreach item="orderid" collection="orderIds" open="(" separator="," close=")">
            #{orderid}
        </foreach>
    </update>
</mapper>