<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pay.mapper.UserRateEntityMapper">
    <select id="getUserRate" parameterType="String" resultType="String">
        SELECT
            user_rate
        FROM
            sys_user_rate
        WHERE
            user_id = #{userId} AND del_flag IS NULL
    </select>
</mapper>