<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pay.mapper.UserRateEntityMapper">
    <select id="getUserRateByUserNameAndAngetCode" parameterType="String" resultType="String">
        SELECT
            user_rate
        FROM
            sys_user_rate
        WHERE
            user_name = #{userName} AND agent_id = #{agentUsername} and channel_code = #{payType} and del_flag IS NULL
    </select>
    <select id="getBeIntroducerRate" parameterType="String" resultType="String">
        SELECT
            user_rate
        FROM
            sys_user_rate
        WHERE
            user_name = #{userName} AND agent_id = #{agentUsername}  AND introducer_name = #{introducerName} and channel_code = #{payType} AND del_flag IS NULL
    </select>
</mapper>