<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.pay.mapper.UserBusinessEntityMapper">
    <select id="queryBusinessCodeByUserName" parameterType="String" resultType="org.jeecg.modules.pay.entity.UserBusinessEntity">
        SELECT
            user_name as userName,
            business_code as businessCode,
            channel_code as channelCode,
            api_key as apiKey
        FROM
            sys_user_business
        WHERE
            user_name = #{userName} and channel_code = #{channelCode} and active='1'
    </select>
    <update id="activeBusiness">
        update sys_user_business set active='1' where user_name =  #{userName} and channel_code = #{channelCode} and business_code in
        <foreach collection="codes" open="(" separator="," close=")" index="index" item="item">
            #{item}
        </foreach>
    </update>
    <update id="disableBusiness">
        update sys_user_business set active='0' where user_name =  #{userName} and channel_code = #{channelCode} and business_code not in
        <foreach collection="codes" open="(" separator="," close=")" index="index" item="item">
            #{item}
        </foreach>
    </update>
</mapper>