<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.df.mapper.PayOrderMapper">

    <select id="summary" parameterType="map" resultType="map">
        select count(1)                                                                 as totalOrderCount,
               count(case when status = 2  then 1 else null end)           as paidOrderCount,
               count(case when status != 2 then 1 else null end)        as unpaidOrderCount,
               sum(amount)                                                       as totalOrderAmount,
               sum(case when status = 2 then amount else 0 end)    as paidOrderAmount,
               sum(case when status != 2  then amount else 0 end) as unpaidOrderAmount,
               sum(case when status = 2 and callback_status = 2 then amount else 0 end) as callbackAmount,
               sum(case when status = 2 || status = 1 then order_fee else 0 end)         as fee
        from df_pay_order ${ew.customSqlSegment}

    </select>
</mapper>